@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --text: #100e13;
  --background: #faf9fb;
  --primary: #8372a4;
  --secondary: #ada0c7;
  --accent: #9783bc;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  background-color: var(--background);
  color: var(--text);
}


.button{
    background-color: var(--text);
    color: var(--background);
}

.red-button{
  background-color: red;
  color: var(--background);
}

.card-grid{
  display: grid;
  grid-template-columns: repeat(auto-fill,250px);
  row-gap: 10px;
  column-gap: 10px;
  justify-content: center;
}

.bg-primary{
  background-color: var(--primary);
}

.bg-accent{
  background-color: var(--accent);
}

.bg-secondary{
  background-color: var(--secondary);
}

.form-container {
  margin-top: 20px;
  background-color: var(--background);
  padding: 20px;
  border-radius: 10px;
  min-width: 500px;
  /* font-size: xx-large; */
}

.text-field {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid var(--primary);
  border-radius: 5px;
  width: 100%;
}

.list-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-weight: bold;
  color: var(--background);
  font-size: 20px;
  background-color: var(--accent);
  padding: 0.35rem;
  border-radius: 15px;
  align-items: center;
}

.add-button {
  cursor: pointer;

  background-color: var(--accent);
  color: white;
  padding: 0.5rem;
  border-radius: 15px;
  font-size: 24px;
  font-weight: bolder;
  transition: all 200ms;
}
.add-button:hover {
  color: green;
  background-color: white;
}
.input-row {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.input-field {
  margin-right: 10px;
  padding: 5px;
  border: 1px solid var(--primary);
  border-radius: 5px;
}

.delete-button {
  cursor: pointer;
  background-color: var(--accent);
  color: white;
  border: none;
  border-radius: 50%;
  font-weight: bold;
  padding: 0.5rem;
  font-weight: bold;
  transition: all 200ms;
}

.delete-button:hover {
  color: red;
  background-color: white;
}



.submit-button {
  background-color: var(--primary);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.hr-line{
  border: none;
  height: 2px;
  background-color: black;
  margin: 10px auto;
}